body {
    background-color: lightcyan;
    display: block;
    flex-direction: column;
    margin: auto;


    width: 100%;
    height: 100%;



}


header {
    Border: 1px black solid;
    background-color: yellow;
    text-align: start;
    flex-basis: 20%;
    justify-content: space-between;
    margin-top: 30px;


    height: 100px;



}

.flex-nav {
    display: flex;
    padding: 10px;


}

.flex-nav div {
    border: 1px black solid;
    background-color: deeppink;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;

    justify-content: center;
}




.main1 {
    width: 100%;
    justify-content: space-between;
    display: flex;

}

.box21 {
    Border: 1px black solid;
    background-color: grey;
    margin-top: 30px;
    flex-basis: 35%;
    margin-right: 20px;

    height: 150x;


}

.box22 {
    Border: 1px black solid;
    background-color: aquamarine;
    margin-top: 30px;
    flex-basis: 65%;

    height: 150px;
}

.box23 {
    Border: 1px black solid;
    background-color: aquamarine;
    margin-top: 30px;
    flex-basis: 65%;


    height: 150px;
}





footer {
    Border: 1px black solid;
    background-color: cornflowerblue;
    justify-content: space-between;
    margin-top: 30px;

    height: 250px;
}