body {
    background-color: lightcyan;
    display: block;
    flex-direction: column;
    margin: auto;


    width: 95%;
    height: 100%;



}


header {
    display: flex;
    Border: 1px black solid;
    background-color: yellow;
    text-align: justify;
    flex-basis: 20%;
    justify-content: space-between;
    margin-top: 30px;


    height: 100px;

}

.cabe1 {
    border: 1px black solid;
    color: blue;
    background-color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
    margin-right: 100px;
}

.login {

    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: xx-large;
    padding: 10px;
}




.navegador {

    display: inline-flex;
    width: 40%;
    padding: 10px;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 300px;


    height: 65px;

}

.nav21 {
    border: 1px black solid;
    background-color: lightcoral;
    width: 100px;
    height: 50px;

}

.nav22 {
    border: 1px black solid;
    background-color: lightcoral;
    width: 100px;
    height: 50px;

}

.nav23 {
    border: 1px black solid;
    background-color: lightcoral;
    width: 100px;
    height: 50px;

}

.nav24 {
    border: 1px black solid;
    background-color: lightcoral;
    width: 100px;
    height: 50px;

}




.main1 {
    width: 100%;
    justify-content: space-between;
    display: flex;

}

.box21 {
    Border: 1px black solid;
    background-color: grey;
    margin-top: 30px;
    flex-basis: 35%;
    margin-right: 20px;

    height: 150x;


}

.box22 {
    Border: 1px black solid;
    background-color: aquamarine;
    display: flex;
    margin-top: 30px;
    flex-basis: 60%;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    height: 250px;

}

.imag{
    padding: 35px;
    margin-bottom: 100px;
    width: 300px;
    height: 100px;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    
}

.imag img{
    max-width: 100%;
    max-height: auto;
}




.text{
    border:1px black solid;
    background-color: aliceblue;
    align-items: center;
    margin-right: 60px;


    flex-shrink: 5;

}



.box3 {
    Border: 1px black solid;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: xx-large;
    padding: 20px;


    height: 200px;

}

.f0 {
    border: 1px black solid;
    text-align: center;
    background-color: cornflowerblue;
    justify-content: space-between;
    margin: 40px;
    flex-basis: 50%;
}

.f1 {
    border: 1px black solid;
    background-color: aquamarine;
    justify-content: space-between;
    margin: 40px;
    flex-basis: 50%;

}

.f2 {
    border: 1px black solid;
    background-color: aquamarine;
    justify-content: space-between;
    margin: 40px;
    flex-basis: 50%;

}

.f3 {
    border: 1px black solid;
    background-color: aquamarine;
    justify-content: space-between;
    margin: 40px;
    flex-basis: 50%;
    text-align: center;

}